<!DOCTYPE html><html>
    <head>
    </head>
    <body>
        {% include"/_System/Includes/head.inc" %}
        <script>
  fbq('track', 'ViewContent');
</script>
        <div class="landingbg1">
        <div class="bg1"><img alt="" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/wow-landing-page-header-image.jpg" width="100%" /></div>
        <div class="textsection">
        <div class="medium-12 columns">
        <div class="text-center"><img alt="" class="whitelogo" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/weight-of-wow-logo-white-300.png" /></div>
        <p> Tired of treating the symptom (weight gain)
        while ignoring the root cause of why you
        can't lose (or maintain your) weight?</p>
        <p>Once you understand "the why" behind your weight challenges, not only will you get down to your ideal weight, your self-confidence and quality of life will skyrocket.</p>
        </div>
        </div>
        </div>
        <section id="salesvideosection">
            <div class="row">
            <div class="medium-12 small-12 columns">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/RLOb5-_jW6U" frameborder="0" allowfullscreen></iframe>
            </div></div>
        </section>
        <div class="landingbg2">
        <div clas="row">
        <div class="text-center body1">
        <p>Dear Friend,<br />
        Christine Murphy here.<br />
        By now, you know my story...</p>
        </div>
        </div>
        <div class="row">
        <section class="wowinfo-wrapper">
        <div class="medium-2 small-0 columns arrow arrx">
        <img alt="" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/wow-arrow-left.png" style="border: 0px solid; width: 60%;" />
        </div>
        <div class="medium-7 small-12 columns">
        <h6>I was a serial dieter...</h6>
        <p>...who has lost (and gained back) over 750 lbs. in my lifetime. Two years ago, after gaining back the weight I'd recently lost, I decided I'd had enough. I'd reached the point of no return. The point where the frus- tration is so overwhelming, for sanity reasons alone, you must make a change.</p>
        <p>As mentioned (in one of my videos) five years ago, I spent $26,000 on band surgery but gained all the weight back.</p>
        </div>
        <div class="medium-3 small-12 columns roundimage">
        <img alt="I was a serial dieter" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/diet-industry.jpg" style="border: 0px solid; width: 100%;" />
        </div>
        </section>
        </div>
        <div class="row">
        <section class="wowinfo-wrapper">
        <div class="medium-3 small-12 columns roundimage">
        <img alt="I knew there had to be a better way" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/self-love.jpg" style="border: 0px solid; width: 100%;" />
        </div>
        <div class="medium-7 small-12 columns">
        <h6>I knew there had to be a better way...</h6>
        <p> You see, I'd change my habits, lose weight, revert back to my old bad habits, gain the weight back and start the entire process again. (Sound familiar?) It was taking a toll on my emotional and physical (I walked with a cane and my joints ached) well-being.</p>
        <p>After doing some soul searching and analysis, 2 years of research and my own internal analysis, I realized I was approaching weight loss all wrong. I was ignoring the number one component responsible for my success... ME.
        </p>
        </div>
        <div class="medium-2 small-0 columns arrow arrx">
        <img alt="" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/wow-arrow-right.png" style="border: 0px solid; width: 60%;" />
        </div>
        </section>
        </div>
        <div class="row">
        <section class="wowinfo-wrapper">
        <div class="medium-2 small-0 columns arrow arrx2">
        <img alt="" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/wow-arrow-left.png" style="border: 0px solid; width: 60%;" />
        </div>
        <div class="medium-7 small-12 columns">
        <h6>Once I found my reason Why...</h6>
        <p>...it became easy! I'm down 86 pounds, I no longer walk with a cane, and I no longer constantly ache. Witnessing how life-changing my transformation was for me, friends and family told me that I should share my strategies and insights with others.</p>
        <p>I reluctantly agreed. I say "reluctantly" because I&rsquo;m a very private person. If someone would have told me a few years ago, I would expose my story and my vulnerabilities to the online world, I would not have believed them. But the way I look at it if I can help just one person overcome similar obstacles to what I&rsquo;ve overcome it will be worth it.</p>
        </div>
        <div class="medium-3 small-12 columns roundimage">
        <img alt="Once I found my reason Why" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/christine-blackandwhite.jpg" style="border: 0px solid; width: 100%;" />
        </div>
        </section>
        </div>
        <div class="row listingsection">
        <div class="medium-12 small-12 columns">
        <p>The following are aspects of your life that will improve...</p>
        <ul>
            <li><span>Your future health</span> - Lowering your blood pressure, reducing your risk of diabetes, heart disease, and cancer</li>
            <li><span>Your mobility</span> - Having the energy to go wherever you want, when you want.</li>
            <li><span>Your quality of life</span> - Enjoying everything life has to offer, playing with your kids, going to the beach without being afraid to wear a bathing suit.</li>
            <li><span>Your inner self</span> - Before you can free yourself from your external weight you must free yourself of "your inner weight."" Once this happens, you'll have a solid foundation to achieve all your weight loss goals.</li>
            <li><span>Your peace of mind</span> - Not having to worry about how being overweight is holding you back in life.</li>
        </ul>
        <p class="text-center"><a class="thebutton theblue" href="#sign-up">Sign Up For WOW</a></p>
        </div>
        </div>
        </div>
        <section class="wowgraphic-wrapper2">
        <div class="row quote-wrapper">
        <div class="medium-12 small-12 columns text-center">
        <h2>An invitation to change your life...</h2>
        </div>
        </div>
        <div class="row">
        <div class="medium-12 small-12 columns">
        <p>Today I&rsquo;m very excited and proud to share with you the cumulation of two years research and discovery. This is my invitation to you to become a member of The Weight of Why program. The Weight of the Why is a six-week program where step by step I reveal to you what I&rsquo;ve discovered over the past two years.</p>
        <p class="text-center"><img src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/step.png" alt="step" /></p>
        <p>The goal of The Weight of Why program is to act as a catalyst for transformation in your life. It focuses on the most important part of any weight loss program,YOU.</p>
        <p>It's about discovering who you are, identifying the obstacles and mental blocks that may be paralyzing you and keeping you from living life at your ideal weight. And then giving you an action plan to overcome them. Here&rsquo;s the thing, if you&rsquo;re not at peace with &ldquo;your inner weight&rdquo; and who you are, no matter what weight loss plan you start, you&rsquo;ll always be starting out in a deficit position. Which means you&rsquo;ll always be more likely to fail than succeed.</p>
        <p>The Weight of Why gets you physically and emotionally in sync so you&rsquo;re 100% prepared to overcome all challenges that get in the way of your desired outcome.</p>
        <p class="text-center"><a class="thebutton theblue" href="#sign-up">Sign Up For WOW</a></p>
        </div>
        </div>
        </section>
        <div class="landingbg3">
        <div class="bg1"><img alt="" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/make-it-happen-background.jpg" width="100%" /></div>
        <div class="wowinfo-wrapper textsection">
        <div class="medium-12 columns">
        <h6>It's all about you!</h6>
        <p>The Weight of the Why program is all about YOU. It&rsquo;s an opportunity to really examine who you are, where you are and what&rsquo;s holding you back from being where you want to be in life.</p>
        <p>With The Weight of Why, you&rsquo;ll have a helpful and caring support system in place. You&rsquo;ll be partnered up with a buddy to walk through the program with, plus you&rsquo;ll also have me to support you both during the program and after.</p>
        <p>It&rsquo;s a program that, down the road, you will refer to over and over again to help motivate and guide you to where you want to be life.</p>
        </div>
        </div>
        </div>
        <section class="wowgraphic-wrapper3">
        <div class="withborder">
        <div class="row quote-wrapper">
        <div class="medium-12 small-12 columns text-center">
        <h2>Be the change you know you can be</h2>
        </div>
        </div>
        <div class="row">
        <div class="medium-6 small-12 columns">
        <p>You&rsquo;ll have a completely new weight loss story that will empower you and motivate you to achieve all your weight loss goals.</p>
        <p>You&rsquo;ll no longer be held back by your limiting beliefs.</p>
        <p>You&rsquo;ll have a new and better vision of who you are and what you can accomplish.</p>
        <p>You&rsquo;ll understand how to use meditation to help you avoid stress, easing and increasing the peace and inner harmony in your life.</p>
        <p>You&rsquo;ll be clear on &ldquo;THE BIG WHY&rdquo; when it comes to weight loss and know how to use it to move forward.</p>
        <p>You&rsquo;ll have strategies and techniques you can use to keep you motivated.</p>
        <p>You&rsquo;ll break the cycle of failure when it comes to your past weight loss issues.</p>
        <p>You&rsquo;ll be taking full responsibility for your life and be looked upon as a person of action.</p>
        </div>
        <div class="medium-6 small-12 columns">
        <p>You&rsquo;ll incorporate the &ldquo;thin mindset&rdquo; into your life which will play a key role in maximizing the quality of your life.</p>
        <p>You&rsquo;ll have a clear vision for who you are and where you&rsquo;re going in life.</p>
        <p>You&rsquo;ll know how to use self-talk to motivate and inspire yourself not drag you down.</p>
        <p>You&rsquo;ll be empowered to embrace all the gifts you&rsquo;ve been given.</p>
        <p>You&rsquo;ll have access to a friendly non-judgemental community and get feedback and advice from people who want only success for you.</p>
        <p>You&rsquo;ll learn more about yourself and what you might be unconsciously doing that is holding you back in life.</p>
        <p>You&rsquo;ll have a support system to help you every step of the way.</p>
        </div>
        </div>
        <div class="row muchmore">
        <div class="medium-12 small-12 columns">
        <h6>And much, much, much more. Sound good?</h6>
        <p>Ok, I&rsquo;ve told you what The Weight of the Why is about. Now I want to tell you what it&rsquo;s not about.</p>
        <p>This isn&rsquo;t about what you should eat, how much you should eat, weighing food and counting calories and such.</p>
        <p>The Weight of Why serves at the foundational base layer which will prepare you as you tackle the next phases (diet, exercise) of your weight loss journey. It&rsquo;s the starting point which will give you the confidence, motivation, and commitment for your life-changing transformation</p>
        </div>
        </div>
        </div>
        <div class="bg1"><img alt="" src="https://chrysalismlifecoaching.worldsecuresystems.com/_assets/img/photo-line-large.png" width="100%" /></div>
        </section>
        <section class="invest wowgraphic-wrapper3">
        <div class="row quote-wrapper">
        <div class="medium-12 small-12 columns text-center">
        <h2>Invest in yourself</h2>
        </div>
        </div>
        <div class="row">
        <div class="medium-12 small-12 columns">
        <p>If two years ago someone came up to me with a solution like the one I'm presenting to you today, one in which I could finally end the weight loss rollercoaster I've been on my whole life once and for all, I would have been willing to pay tens of thousands of dollars for it. At the time, I was at the end of my wick and at a very frustrating period in my life.</p>
        <p>I knew there was much more at stake than how I looked. The amount of time I get to stay on this planet hung in the balance. Not to mention, the quality of my life and my mental state.</p>
        <p>How much is that worth to you? <span class="enlargetxt">$30,000?</span> <span class="enlargetxt">$20,000?</span> <span class="enlargetxt">$10,000?</span></p>
        <p>I'm sure you'll agree with me when I say you can't put a price on your health or your day-to-day peace of
        mind.</p>
        <p>As Gandhi once said,<span class="quoteblue" style="font-size: 24px;">"It is health that is real wealth and not pieces of gold and silver."</span></p>
        <p class="text-center"><a class="thebutton theblue" href="#sign-up">Sign Up For WOW</a></p>
        </div>
        </div>
        </section>
        <section class="sprice wowgraphic-wrapper3">
        <div class="row quote-wrapper">
        <div class="medium-12 small-12 columns text-center">
        <h2>Become a member at a very special price</h2>
        </div>
        </div>
        <div class="row">
        <div class="medium-12 small-12 columns">
        <p>But the good news is you won't pay anywhere near that to be a member of The Weight of Why.</p>
        <p>Your investment is only $1,194 USD.</p>
        <p>My goal with The Weight of Why is to make this the last &ldquo;weight-related program&rdquo; you&rsquo;ll ever have to invest in. I want the strategies and insights to be a real turning point in your life... just as they&rsquo;ve been for me.</p>
        </div>
        <div class="medium-6 small-12 columns">
        <p>But I&rsquo;ve got some great news for you.</p>
        <p>Today, you won&rsquo;t pay $1,194 USD. As this is the initial launch, I&rsquo;m offering you this life-changing opportunity at 50% off the regular price. Which means you can be part of The Weight of The Why movement for only $597 USD.</p>
        <p>But there&rsquo;s a catch. At this price, I expect the program to fill up fast.</p>
        <p>You see to give you the attention you need and deserve, I&rsquo;m limiting the initial program to ten people only. So, don't delay.</p>
        </div>
        <div class="medium-5 small-12 columns withpbg">
        <div class="pricecont">
        <h3>TODAY ONLY!</h3>
        <p class="pricetoday"><span>SPECIAL LAUNCH OFFER</span>$597</p>
        <p><a class="thebutton theblue" href="#sign-up">I'm In!</a></p>
        </div>
        </div>
        </div>
        </section>
        <section class="regards wowgraphic-wrapper3">
        <div class="row">
        <div class="medium-12 small-12 columns">
        <p>One thing we both know for sure is if you continue to do the same thing, you&rsquo;ll get the same results. It sounds obvious, but it took me years of &ldquo;banging my head against the wall&rdquo; to figure that one out.</p>
        <div class="text-center scrptfont">
        <h4>It&rsquo;s time you did something different. Wouldn&rsquo;t you agree?</h4>
        </div>
        <p>Through my years of coaching and my hands-on experience, I'm 100% confident that I've come across something that has the potential to revolutionize the weight loss industry. It's the missing ingredient that, quite frankly, the big weight loss companies and latest fad diet books simply don&rsquo;t focus on. The weight loss industry focuses on &ldquo;what you do,"it basically ignores &ldquo;who you are."</p>
        <p>The Weight of Why focuses on YOU. It instills in you a powerful mindset that will not only put you on the path to permanent weight loss but will help you excel in other areas of your life.</p>
        <p>In short, it will make you unstoppable.</p>
        <p>I look forward to going on this unique journey with you.</p>
        <p>Sincerely,<br />
        <img alt="" src="/_assets/img/christine-signature300.png" style="border: 0px none; width: 10%;" /></p>
        <p class="text-center"><a class="thebutton theblue yesblue" href="#sign-up">Yes, I Want to Make a Change!</a></p>
        <p><span class="psfont">P.S.</span> The Weight of the Why comes with a 100% money back guarantee. If after completing the first two sessions, doing the assignments and applying what you&rsquo;ve learned to your life, you don&rsquo;t think it will be helpful to you for reaching your weight loss goals, simply let me know and I&rsquo;ll give you every penny of your money back. That&rsquo;s how confident I am in the transformational ability of The Weight of the Why!</p>
        <p><span class="psfont">P.S.S.</span> In addition, to the Zoom calls, videos, one-on-one call, you&rsquo;ll also have access to a private Facebook page where you can ask questions and comment on the various topics we&rsquo;ll be discussing over the course of The Weight of Why.</p>
        <p><span class="psfont">P.S.S.S.</span> If you have any questions and would like to speak to me, please email me and we&rsquo;ll set up a time to chat.&nbsp;<a href="christine@chrysalismlifecoaching.com" target="_blank">christine@chrysalismlifecoaching.com</a></p>
        </div>
        </div>
        </section>
        <section id="sign-up" class="signform wowgraphic-wrapper3">
        <div class="row quote-wrapper">
        <div class="medium-12 small-12 columns text-center">
        <h2>Sign me up for the WOW program</h2>
        <p>I commend you for your dedication to this program and in turn to your weight loss journey, you are awesome!<br />
        Let's get started.</p>
        </div>
        </div>
        {module_webform id="290148"}
        </section>
        <!--	START FOOTER 	-->
        {module_contentholder, name="_Footer"}
        <!--	 END FOOTER 	-->
        <!-- include scripts -->
        {% include"/_System/Includes/scripts.inc" %}
    </body>
</html>